<h1><%= gravatar_for current_user%> 
	These are Your Providers </h1>

show provider, add translations to provider (Form for Entering Translations..)


<%= link_to 'Create a New Provider', new_provider_path %>
<% if @providers.any? %>
	<table class="terms" summary="User own terms">
	
		<% for provider in @providers %>
			<tr>
			<%= render 'shared/providers', :provider => provider %>
			</tr>
		<% end %>
	</table>
		
<% end %>

