

<table class="profile" summary="Detailed term information">
	<tr>
		<td class="main">
		Enter a single term or translation here.
		<div class="form">	
			
<%= render 'shared/term_form' %>
	
		</div>
</tr>
	</table>
