<%= form_for current_user.subscriptions.find_by_subscribee_id(@user), 
			:html => {:method => :delete }, :remote => true do |f| %>
	<div class="actions">
	<%= f.submit "Unsubscribe" %>
	</div>
<% end %>