<tr>
	<td class="gravatar">
	<%= link_to gravatar_for(feed_item.user), feed_item.user %>
</td>

<td class="term">
		<span class="user">
		<%= link_to feed_item.user.name, feed_item.user %>
	</span><br />
	<%= render 'shared/_term_class', :object => feed_item %>
</td>

</tr>	