<% @user ||= current_user %>
<div class="stats">
<table summary="User stats for providers/translations">
	<tr>
		<td>
			<strong>Total Number of Providers:</strong><%= @user.providers.count %><br />
				<% for provider in @user.providers %>
					<a href="<%= user_provider_path(@user,provider) %>">
					<span id="providers" class="stat">
						<%= provider.provider_name %><br/>
						<%= pluralize(provider.translations.count, "translations") %>
					</span>
				</a><br /> 
				<% end %>
		</td>
	</tr>
</table>	
</div>
