<h1>Wanted: RoR Developer!!</h1>
<%= link_to image_tag("rails.png", :class=>"wantedimg", :size=>"50x50") %>
<table summary="developerprofile">
<tr>
	<td>
		<ul>
		<li>Should be familiar with Test Driven Development, in particular RSpec</li>
		</ul>
	</td>
	</tr>
	<tr>
	</tr>
	<tr>
	</tr>	
</table>

